ul {
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
a {
    color: rgb(255, 255, 255);
    padding: 0px 15px;
}
.toolbar {
    font-family: 'Roboto', sans-serif;
    background: black;
    font-size: 150%;
    margin: -8px;
    padding-top: 15px; 
}
html {
    background: #1e1e1e;
}
.students_props {
    font-size: 120%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
p {
    font-family: 'Roboto', sans-serif; 
    font-size: 150%;
    display: inline;
    background: black;
    color: white;
}
.students {
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
}
.btn {
    font-size: 120%;
    padding: 20px;
    color: white;
    background: rgb(0, 0, 160);
    cursor: pointer;
    border: none;
    outline: none;
}
.btn:hover {
    background-color: rgb(0, 0, 100);
}
.btn:active {
    background-color: rgb(0, 0, 24);
}
.filterDiv_male {
    float: left;
    width: 50%;
    padding: 10px;
  }
  .filterDiv_female:after {
    content: "";
    display: table;
    clear: both;
  }